.course-card {
  border-radius: 20px !important;
  .card-img {
    border-radius: 20px 20px 0 0;
  }
  &:hover {
    border: 5px solid #0eb582;
    // background-image: linear-gradient(75deg, #19d3ae, #0fcfec);
    // color: #fff !important;
    // transition: 0.1s all ease-in-out !important;
    .card-img {
      border-radius: 12px 12px 0 0;
    }
  }
}

.link {
  text-decoration: none;
  color: #0eb582;
  &:hover {
    color: #537abc;
  }
}
