.courses {
  overflow-x: hidden;
  .course-head {
    font-weight: 700;
    position: relative;
    font-size: 36px;
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 120px;
      bottom: 0;
      background-color: #02863a;
    }
  }
}
.left-container {
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 30px 30px;
  margin-right: 30px;
  border-radius: 20px;
}
.course-details-icon {
  margin-top: 3px;
  color: #0eb582;
  margin-right: 10px;
}
.course-details-btn {
  padding: 12px 20px;
  font-size: 14px;
  width: 200px;
  border-radius: 20px;
  font-weight: 700;
  color: white;
  background-color: #0eb582;
  border: none;
  &:hover {
    background-color: #1e2f50;
  }
}
.course-details-btn-container {
  margin-top: -20px;
}
.active-toggle-btn {
  background-color: #1e2f50 !important;
  color: white !important;
}
.nav-pills .nav-link.active {
  background-color: #0eb582 !important;
  color: white !important;
}
.tab-links {
  color: white !important;
  text-align: center;
}
.active-btn-section {
  width: 100%;
}
.rating-icon {
  font-size: 13px;
  color: goldenrod;
}
.add-cart-button {
  font-size: 12px;
  font-weight: 500;
  color: white;
  background-color: #0eb582;
  padding: 5px 20px;
  border: none;
  border-radius: 30px;
  &:hover {
    background-color: #1e2f50;
  }
}
.price-tag {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #1e2f50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}
.details-paragraph {
  border-left: 2px solid #0eb582;
  padding-left: 15px;
  text-align: justify;
}
