.footer {
  background-color: #1e2f50;
}
.social-icons {
  border: 1px solid #a5b7d9;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  font-size: 16px;
  padding-top: 7px;
  background-color: #1e2f50;
  color: #a5b7d9;
  &:hover {
    cursor: pointer;
    color: white;
  }
}
.facebook:hover {
  background-color: #537abc;
}
.youtube:hover {
  background-color: #e96349;
}
.twitter:hover {
  background-color: #77cbef;
}
.pinerest:hover {
  background-color: #537abc;
}
.footerOnFocus {
  a {
    color: #a5b7d9;
    font-size: 14px;
    text-decoration: none;
    &:hover {
      color: green;
    }
  }
}
.address {
  color: #a5b7d9;
  font-size: 14px;
}
.address-icon {
  font-size: 16px;
  height: 36px !important;
  width: 36px !important;
  border-radius: 50%;
  background-color: #0eb582;
  color: white;
  margin-top: -10px;
}
@media screen and (max-width: 600px) {
  .footerOnFocus,
  .address {
    text-align: center;
  }
  .footer-info {
    display: flex;
    justify-content: center;
  }
  .address-icon {
    display: none;
  }
  .footer-address {
    display: flex;
    justify-content: center;
  }
  .footer-title {
    margin-top: 30px;
    text-align: center;
  }
}
