.home-container{
        height: 800px;
        width: 100%;
        position: relative;
        background-image: url("../media/bg.jpg");
        background-size: cover;
        &::after {
          height: 700px;
          content: " ";
          position: absolute;
          top: 0%;
          width: 33%;
          right: 0%;
          background-color: grey;
          z-index: -50;
        }  
}
.home-btn{
  padding: 15px 30px;
  background-color: white;
  color: #02863A;
  border-radius: 20px;
  border:none;
  font-size: 14px;
  font-weight: 500;
  &:hover{
  background-color: #02863A;
  color:white ;
  }
}
.search-form{
  border: 1px solid  rgba(128,128,128,0.3);
  border-radius: 20px
}