.nav-header {
  height: 40px;
  background-color: #1e2f50;
  p {
    font-size: 14px;
    &:hover {
      color: #0eb582;
      cursor: pointer;
    }
  }
  .nav-icons {
    &:hover {
      color: #0eb582;
    }
  }
}

.dropdown-content {
  max-width: 160px;
  font-size: 12px;
  text-decoration: none;
  color: black !important;
  font-weight: 700;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}
.dropdown-toggle::after {
  border-top: none !important;
}
.nav-link {
  color: #1e2f50 !important;
}
@media screen and (max-width: 600px) {
  .mail {
    display: none;
  }
  .nav-phone {
    display: none;
  }
}
